{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <a href="/" class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </a>
            Change Password
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="app_card row">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <input type="submit" class="btn btn-primary" value="{% trans 'Change password' %}" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
